


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none !important;
  }
  
  html, body {
    height: 100%;
    overflow-y: scroll;
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  
  .logo-floating {
    animation: float 2.5s ease-in-out infinite;
  }
  